html {
    overflow: scroll;
}

#map {
    height: 400px;
    margin-bottom: 15px;
}

#maxDistance {
    margin-left: 50px;
}

#buscar {
    margin-left: 80px;
}


#seletor {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 0;
    top: 0;
    border: 0;
}

#productName {
    position: absolute;
    width: 180px;
    height: 30px;
    left: 0;
    top: 0;
}